.conf-main-wrapper {
    padding: 0px 15px 15px 15px;
}

.conf-more-wrapper {
    display: none;
    border-top: solid 1px $border-card;
    align-items: center;

    .icons {
        font-size: 0;
        border-right: solid 1px $border-card;
        padding-top: 20px;
        height: 50px;
        width: 70px;
        background-position: center center;
    }

    .conf-more-link {
        margin-left: auto;
        padding-right: 20px;
        font-weight: $font-weight-bold;

        a {
            text-decoration: $text-decoration-base;
        }
    }
}

.slide__content {
    margin: 0 15px 30px 0;
    border: solid 1px $border-card;
    position: relative;
    @include border-radius(0 0 .35em .35em);

    &:hover {
        box-shadow: 0px 3px 9px 4px $boxshadow-card;

        .slide__media {
            height: 150px;

            img {
                transform: scale(1.2);
            }
        }

        .conf-more-wrapper {  
            display: flex;
        }

        .slide__caption {
            padding-bottom: 0;
        }
    }

    .slide__caption {
        padding: 0;
    }

    .slide__media {
        @include border-radius(.35em .35em 0 0);
        overflow: hidden;

        img {
            transform: scale(1);
            transition: all 0.5s 0s ease;
        }
    }
}

.slick-arrow {
    background-repeat: no-repeat !important;
    width: 35px;
    height: 35px;
    font-size: 0;

    &::before {
        display: none;
    }

    &.slick-prev  {
        background-image: $icon-arrow-left !important;
        background-position: left center !important;
    }
    
    &.slick-next  {
        background-image: $icon-arrow-right !important;
        background-position: right center !important;
    }
}

.star-tag {
    @include Position(absolute);
    font-size: 0;

    &:before {
        @include Position(absolute);
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 50px 0 0;
        border-color: $rating-bg transparent transparent transparent;
    }

    .conf-star {
        @include Position(relative, 7, 7, 12);
        height: 15px;
        width: 15px;
    }
}

.conf-price {
    @include Position(absolute, 15, 15);
    right: 15px;
    left: inherit;    
    @include border-radius(5px);
    border: 1px solid #FFF;
    padding: 5px 10px;
    color: white;
    line-height: 1;
}

.slick__arrow {
    width: 105%;
    left: -24px;
}