.conf-type {
    @include Icon(type);
}

.conf-date {
    @include Icon(date);
}

.conf-venue {
    @include Icon(venue);
}

.conf-heart {
    @include Icon(heart);
}

.conf-download {
    @include Icon(download);
}

.conf-share {
    @include Icon(share);
}

.conf-star {
    @include Icon(star);
}
