.quicktabs-tabs {
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 2px $border-blue;
    margin-bottom: 30px !important;
    @include border-radius(inherit);

    @media screen and (max-width: $max-tab) {
        flex-direction: column;
    }

    li {
        &.list-group-item {            
            border: none;
            text-align: center;
            padding: 0 0 5px 0;

            @media screen and (min-width: $min-desktop) {
                width: 30%;
            }

            a {
                font-size: 18px;
                font-weight: $font-weight-bold;
                text-decoration: $text-decoration-base;
                position: relative;  
                
                @media screen and (max-width: $max-tab) {
                    display: block;
                }
            }
    
            &.active {
                background: inherit;
    
                a {
                    color: black;
                    font-size: 22px;

                    &:before, &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        position: absolute;
                        left: 50%;

                        @media screen and (max-width: $max-tab) {
                            display: none;
                        }
                    }

                    &:before {
                        margin-left: -12px;
                        top: 35px;
                        border-width: 18px 12px 0 12px;
                        border-color: $border-blue transparent transparent transparent;
                    }
                    
                    &:after {
                        margin-left: -10px;
                        top: 33px;
                        border-width: 15px 10px 0 10px;
                        border-color: #FFF transparent transparent transparent;
                    }
                }
                
            }
        }
    }
}