@mixin border-radius($pixel...) {
    border-radius: $pixel;
}

@mixin Icon ($img:type, $type:png, $repeat:no-repeat, $x:left, $y:center) {
    background-image: url(../images/icons/#{$img}.#{$type});
    background-repeat: #{$repeat};
    background-position: $x $y;
    padding-left: 30px;
    color: $text-icons;
    line-height: $line-height-base;
}

@mixin Position ($type:relative, $x:'0', $y:'0', $zindex: initial) {
    position: $type;
    left: #{$x}px;
    top: #{$y}px;
    z-index: $zindex;
}