/* VARIABLES */

// colors
$primary-shade: rgb(255, 78, 46);
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #0079C0;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-800: #343a40;
$theme-colors: ( primary: $accent-shade, secondary: $primary-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$brand-primary: $accent-shade;
$brand-inverse: $primary-shade;
$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
$link-color: $accent-shade;
$text-icons: #7e8891;
$border-card: #ececec;
$boxshadow-card: #ececec;
$rating-bg: #73d271;
$border-blue: #3681dd;

$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: underline;

$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;

// icons
$icon-type: url(../images/icons/type.png);
$icon-date: url(../images/icons/date.png);
$icon-venue: url(../images/icons/venue.png);
$icon-heart: url(../images/icons/heart.png);
$icon-download: url(../images/icons/download.png);
$icon-share: url(../images/icons/share.png);
$icon-arrow-left: url(../images/icons/arrow-left.svg);
$icon-arrow-right: url(../images/icons/arrow-right.svg);
$icon-star: url(../images/icons/star.png);

$max-tab: 1023px;
$min-desktop: 1024px;